# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
dist_sum = school_data_complete.copy()
dist_sum.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
renamed_dist_sum_copy = dist_sum.rename(columns={'student_name': 'Student Name','gender':'Gender', 'grade':'Grade','school_name': 'School Name', 'reading_score':'Reading Score', 'math_score':'Math Score', 'type': 'Type', 'size': 'Size', 'budget':'Budget'})
dist_sum = renamed_dist_sum_copy
dist_sum.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
total_schools = dist_sum['School Name'].nunique()
total_schools

15

In [5]:
total_students = dist_sum['Student Name'].count()
total_students

39170

In [6]:
total_budget = dist_sum['Budget'].unique().sum()
total_budget

24649428

In [7]:
math_score_avg = dist_sum['Math Score'].mean()
math_score_avg

78.98537145774827

In [8]:
reading_score_avg = dist_sum['Reading Score'].mean()
reading_score_avg

81.87784018381414

In [9]:
overall_passing_rate = ((math_score_avg + reading_score_avg)/2)
overall_passing_rate

80.43160582078121

In [10]:
math_percentage = ((dist_sum[dist_sum['Math Score'] >=70].count()['Student Name'])/(dist_sum['Math Score'].count()) * 100).astype('int64')
math_percentage

74

In [11]:
reading_percentage = ((dist_sum[dist_sum['Reading Score'] >=70].count()['Student Name'])/(dist_sum['Reading Score'].count()) * 100).astype('int64')
reading_percentage

85

In [12]:
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                                    "Total Students": [total_students],
                                    "Total Budget": [total_budget],
                                    "Math Score Avg": [math_score_avg],
                                    "Reading Score Avg": [reading_score_avg],
                                    "Overall Passing Rate": [overall_passing_rate],
                                    "Math Score 70+ (Percentage)": [math_percentage],
                                    "Reading Score 70+ (Percentage)": [reading_percentage]
                                   })
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Math Score Avg,Reading Score Avg,Overall Passing Rate,Math Score 70+ (Percentage),Reading Score 70+ (Percentage)
0,15,39170,24649428,78.985371,81.87784,80.431606,74,85

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [56]:
schools = school_data.copy()
schools_cleaned = schools.rename(columns={'school_name': 'School Name', 'type':'Type', 'size': 'Size', 'budget': 'Budget'})
schools = schools_cleaned.drop(columns=['School ID'])
schools = schools.set_index(['School Name'])
schools

                           Type  Size   Budget
School Name
Huang High School      District  2917  1910635
Figueroa High School   District  2949  1884411
Shelton High School     Charter  1761  1056600
Hernandez High School  District  4635  3022020
Griffin High School     Charter  1468   917500
Wilson High School      Charter  2283  1319574
Cabrera High School     Charter  1858  1081356
Bailey High School     District  4976  3124928
Holden High School      Charter   427   248087
Pena High School        Charter   962   585858
Wright High School      Charter  1800  1049400
Rodriguez High School  District  3999  2547363
Johnson High School    District  4761  3094650
Ford High School       District  2739  1763916
Thomas High School      Charter  1635  1043130

In [57]:
students= student_data.copy()
students_cleaned = students.drop(columns=['gender', 'grade', 'Student ID'])
students = students_cleaned.rename(columns={'student_name': 'Student Name', 'school_name':'School Name', 'reading_score': 'Reading Score', 'math_score':'Math Score'})
students.head()

        Student Name        School Name  Reading Score  Math Score
0       Paul Bradley  Huang High School             66          79
1       Victor Smith  Huang High School             94          61
2    Kevin Rodriguez  Huang High School             90          60
3  Dr. Richard Scott  Huang High School             67          58
4         Bonnie Ray  Huang High School             97          84

In [64]:
school_summary = pd.merge(schools,students, on='School Name')
school_summary.head()

,School Name,Type,Size,Budget,Student Name,Reading Score,Math Score
0,Huang High School,District,2917,1910635,Paul Bradley,66,79
1,Huang High School,District,2917,1910635,Victor Smith,94,61
2,Huang High School,District,2917,1910635,Kevin Rodriguez,90,60
3,Huang High School,District,2917,1910635,Dr. Richard Scott,67,58
4,Huang High School,District,2917,1910635,Bonnie Ray,97,84

In [71]:
per_stu_budget = schools['Budget']/ schools['Size']
per_stu_budget

School Name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [72]:
school_avg_math = school_summary.groupby(['School Name']).mean()['Math Score']
school_avg_math

School Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: Math Score, dtype: float64

In [101]:
school_avg_read = school_summary.groupby(['School Name']).mean()['Reading Score']
school_avg_read

School Name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: Reading Score, dtype: float64

In [114]:
math_percent_pass = ((school_summary[school_summary['Math Score'] >=70].groupby(['School Name']).count()['Student Name'])/(schools['Size']) * 100).astype('int64')
math_percent_pass

School Name
Bailey High School       66
Cabrera High School      94
Figueroa High School     65
Ford High School         68
Griffin High School      93
Hernandez High School    66
Holden High School       92
Huang High School        65
Johnson High School      66
Pena High School         94
Rodriguez High School    66
Shelton High School      93
Thomas High School       93
Wilson High School       93
Wright High School       93
dtype: int64

In [115]:
read_percent_pass = ((school_summary[school_summary['Reading Score'] >=70].groupby(['School Name']).count()['Student Name'])/(schools['Size']) * 100).astype('int64')
read_percent_pass

School Name
Bailey High School       81
Cabrera High School      97
Figueroa High School     80
Ford High School         79
Griffin High School      97
Hernandez High School    80
Holden High School       96
Huang High School        81
Johnson High School      81
Pena High School         95
Rodriguez High School    80
Shelton High School      95
Thomas High School       97
Wilson High School       96
Wright High School       96
dtype: int64

In [116]:
overall_pass_rate_school = ((math_percent_pass + read_percent_pass)/2)
overall_pass_rate_school

School Name
Bailey High School       73.5
Cabrera High School      95.5
Figueroa High School     72.5
Ford High School         73.5
Griffin High School      95.0
Hernandez High School    73.0
Holden High School       94.0
Huang High School        73.0
Johnson High School      73.5
Pena High School         94.5
Rodriguez High School    73.0
Shelton High School      94.0
Thomas High School       95.0
Wilson High School       94.5
Wright High School       94.5
dtype: float64

In [ ]:
school_summary_df = pd.DataFrame({  "Total Schools": [total_schools],
                                    "Total Students Per School": [total_students],
                                    "Total Budget Per School": [per_stu_budget],
                                    "Math Score Avg": [school_avg_math],
                                    "Reading Score Avg Per School": [school_avg_read],
                                    "Overall Passing Rate Per School": [overall_pass_rate_school],
                                    "Math Score 70+ (Percentage) Per School": [math_percent_pass],
                                    "Reading Score 70+ (Percentage) Per School": [read_percent_pass]
                                })

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.